/*--------------------------------------------------------------
# UDS Alert / UDS Notifications

- Include background colors of alert messages directly.
- UDS-BS4 not directly included in the plugin, so @extend won't work.
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1. Alerts
--------------------------------------------------------------*/

.wp-block-alert.alert {

	// Default setting for the block is the warning color.
	background-color: #ffeade;
	border-color: #ff7f32;


	&.is-style-alert-warning {
		background-color: #ffeade;
		border-color: #ff7f32;
	}

	&.is-style-alert-success {
		background-color: #e9f5db;
		border-color: #78be20;
	}

	&.is-style-alert-info {
		background-color: #d6f0fa;
		border-color: #00a3e0;
	}

	&.is-style-alert-error {
		background-color: #f7dddd;
		border-color: #cc2f2f;
	}
}


// Remove paragraph bottom spacing if it happens to be the only one in the alert box.
.alert-content .acf-innerblocks-container p:only-child {
	margin-bottom: 0;
}

/*--------------------------------------------------------------
2. Banners
--------------------------------------------------------------*/

// Styling to make banners work like alerts.
.wp-block-banner {

	.banner {
		// Aligns the inner contents of banner to normal alignment.
		max-width: calc(1200px + $uds-size-spacing-4);
		padding: $uds-size-spacing-4;
		margin-left: auto;
		margin-right: auto;

		// Adding styles to treat this as a BS5 alert with different formatting.
		// Will now emit a JS method to use when setting focus & adding data layer tracking.
		&.alert {
			background-color: transparent;
			border: 0;
		}
	}
}