/*--------------------------------------------------------------
# UDS Card v2 + related inner blocks

- Horizontal card orientation requires CSS grid not flexbox.
- Horizontal card orientation only applies > medium breakpoint.
-------------------------------------------------------------- */
.wp-card-v2 {
	&.card-story {

		.card-buttons,
		.card-event-details {
			margin: 0 $uds-size-spacing-2;
		}
	}

	figure {
		margin-bottom: 0;
	}

	.wp-block-buttons.is-layout-flex {
		gap: 0;
		align-items: inherit
	}

	// Additional markup to clean up query loop story cards.
	.wp-block-post-terms {

		a.btn::first-letter {
			text-transform: none;
		}

		.wp-block-post-terms__separator {
			display: none;
		}
	}

	.wp-block-post-featured-image {
		z-index: 10;
	}

	.card-header {
		z-index: 20;
	}

	.wp-block-post-title {
		margin-top: 0;
		margin-bottom: 0;
	}
}

@include media-breakpoint-up($md) {
	.wp-card-v2.card-horizontal {
		display: grid;
		grid-template-columns: 40% auto;
		grid-template-rows: repeat(6, auto);

		.card-img-top {
			grid-column: 1;
			grid-row: 1 / span 20;
			height: 100%;
			width: 100%;
			max-width: none;
			max-height: none;
			aspect-ratio: auto;
		}

		.card-header,
		.card-body,
		.card-event-details,
		.card-buttons,
		.card-link,
		.card-tags {
			grid-column: 2
		}

		&.card-event {
			.card-img-top {
				border-right: solid $uds-size-spacing-1 $uds-color-base-gold;
			}
		}

		&.card-story {
			grid-template-columns: calc(40% - 2em) $uds-size-spacing-4 auto;
			grid-template-rows: $uds-size-spacing-4 repeat(6, auto) $uds-size-spacing-4;

			>* {
				position: relative;
			}

			.card-img-top {
				grid-column: 1 / span 2;
				grid-row: 1 / span 8;
				z-index: 10
			}

			.card-header,
			.card-body,
			.card-event-details,
			.card-buttons,
			.card-link,
			.card-tags {
				grid-column: 2 / span 2;
				background-color: $uds-color-base-white;
				z-index: 20;
			}

			.card-header {
				grid-row: 2;
			}

			.card-body {
				grid-row: 3;
			}

			.card-event-details {
				grid-row: 4;
				margin: 0;
			}

			.card-buttons {
				grid-row: 5;
				margin: 0;
			}

			.card-link {
				grid-row: 6;
			}

			.card-tags {
				grid-row: 7;
			}
		}
	}
}