/*--------------------------------------------------------------
# UDS Alert / UDS Notifications

- Include background colors of alert messages directly.
- UDS-BS4 not directly included in the plugin, so @extend won't work.
--------------------------------------------------------------*/

// Prevent accidental dismissal of the block in the editor.
.wp-block-acf-alert button {
    pointer-events: none;
}

// Force max-width of block to alignfull settings in the editor.
// Prevent accidental click of a displayed button in the editor.
.wp-block-acf-banner {
    max-width: 1920px;

    .banner-buttons a {
        pointer-events: none;
    }
}