/*--------------------------------------------------------------
# UDS Cards

- Remove included spacing and max-width from WP class
  of "card" in various places.
--------------------------------------------------------------*/


.acf-block-preview .card {
	&.card-horizontal {
		max-width: none;
	}
}

.acf-block-preview .card {
	&.card-foldable {
		max-width: none;
		padding: 0;

		.card-header.card-header-icon .card-icon {
			margin-bottom: 0;
		}
	}
}

/*--------------------------------------------------------------
# UDS Cards v2
--------------------------------------------------------------*/

// Card v2
.acf-block-preview .wp-card-v2.card {
	padding: 0px;
	max-width: 100%;
}

// Card tags, inner blocks should be in a row.
.wp-block-acf-card-v2-tags .acf-innerblocks-container {
	display: flex
}
