/*--------------------------------------------------------------
# UDS Cards

- Remove included spacing and max-width from WP class
  of "card" in various places.
--------------------------------------------------------------*/


.acf-block-preview .card {
	&.card-horizontal {
		max-width: none;
	}
}

.acf-block-preview .card {
	&.card-foldable {
		max-width: none;
		padding: 0;

		.card-header.card-header-icon .card-icon {
			margin-bottom: 0;
		}
	}
}

/*--------------------------------------------------------------
# UDS Cards v2
--------------------------------------------------------------*/

// Card v2
.acf-block-preview .wp-card-v2.card {
	padding: 0px;
	max-width: 100%;
}

/**
 * Horizontal card layout within editor.
 */
@include media-breakpoint-up($md) {
	.acf-block-preview.wp-block-acf-card-v2 .card-horizontal {

		.acf-innerblocks-container {
			display: contents;
		}

		.wp-block-acf-card-v2-image {
			grid-column: 1;
			grid-row: 1 / span 6;
			height: 100%;
			width: 100%;
			max-width: none;
			max-height: none;
			aspect-ratio: auto;
		}

		.wp-block-acf-card-v2-header,
		.wp-block-acf-card-v2-event,
		.wp-block-acf-card-v2-links {
			grid-column: 2;
		}

		&.card-story {

			.wp-block-acf-card-v2-image {
				grid-column: 1 / span 2;
				grid-row: 1 / span 8;
				z-index: 10
			}

			.wp-block-acf-card-v2-header,
			.wp-block-acf-card-v2-event,
			.wp-block-acf-card-v2-links,
			.wp-block-acf-card-v2-tags {
				grid-column: 2 / span 2;
				background-color: #fff;
				z-index: 20;
			}

			.wp-block-acf-card-v2-header {
				grid-row: 2;
			}

			.wp-block-acf-card-v2-event {
				grid-row: 4;
			}

			.wp-block-acf-card-v2-links {
				grid-row: 6;
			}

			.wp-block-acf-card-v2-tags {
				grid-row: 7;
			}
		}
	}
}

// Card tags, inner blocks should be in a row.
.acf-block-preview.wp-block-acf-card-v2-tags .card-tags .acf-innerblocks-container {
	display: flex;
}

.acf-block-preview.wp-block-acf-card-v2 .card-img-top.wp-block-image {
	height: unset;
}

//
