/*--------------------------------------------------------------
# _hero.scss

Styling to allow normal use of the hero within the block editor.
--------------------------------------------------------------*/
// 1. Hero, Mobile

.acf-block-preview div[class^='uds-hero'] {

	// Present for v2 of the acf/hero block.
	.acf-innerblocks-container {
		display: contents;
	}

	// Older markup, possibly not needed.
	.block-editor-inner-blocks {
		display: contents;

		>.block-editor-block-list__layout {
			display: contents;
		}
	}

	.wp-block-acf-subtitle {
		grid-row: 2;
		grid-column: 2;
		z-index: 30;
	}
}