/*--------------------------------------------------------------
# _sidebar.scss

- Styling to prevent accidental clicks of menu items.
- Overriting styles from native .card element within Gutenberg editor.
--------------------------------------------------------------*/

.sidebar {

	.nav-link {
		pointer-events: none;
	}

	.card {
		max-width: none;
		margin-top: 0;
		padding: 0;
	}
}