/*--------------------------------------------------------------
# UDS Profile

1. (Manual block)
--------------------------------------------------------------*/
/* Set profile photos to correct size. */
.editor-styles-wrapper .uds-person-profile {
	&.is-style-small {
		--pic-size: 120px;
	}
	&.is-style-micro {
		--pic-size: 78px;
		--person-name-size: 20px;
		--name-top-margin: 0;
	}
}


/* Remove has-background class from background color selection in the block editor. */
.editor-styles-wrapper .acf-block-preview.wp-block-acf-profile-manual.has-fill-background-color {
	background-color:transparent !important;
}

/* Prevent accidental clicking of linked elements within the editor */
.editor-styles-wrapper .wp-block-acf-profile-manual {
	.person-name a { pointer-events: none; }
	.person-contact-info a { pointer-events: none; }
	a.btn { pointer-events: none; }
	.person-social-medias a { pointer-events: none; }
}

/* Establish a minimum width when block is in edit mode. */
.editor-styles-wrapper .wp-block-acf-profile-manual:not(.acf-block-preview) {
	min-width:400px;
}

// Ignore the ACF inner wrapper
.editor-styles-wrapper .uds-profile-grid {
	.acf-innerblocks-container {
		display: contents;
	}
}
