/*--------------------------------------------------------------
# UDS Profile (Manual)

- Create fill-white variant to provide a border/interior padding + white background.
Intended for use on a background color.
--------------------------------------------------------------*/

.uds-person-profile.fill-white {
    background-color: #ffffff;
    border: 1px solid $uds-color-base-gray-3;
    padding: $uds-size-spacing-4;
}
